.29_2 { 
	overflow:hidden;
}
.e29_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:600px;
	height:921px;
	position:absolute;
}
.e29_6 { 
	color:rgba(0, 0, 0, 1);
	width:107px;
	height:18px;
	position:absolute;
	left:12px;
	top:36px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e29_13 { 
	color:rgba(0, 0, 0, 1);
	width:58px;
	height:11px;
	position:absolute;
	left:510px;
	top:9px;
	font-family:Inter;
	text-align:center;
	font-size:7px;
	letter-spacing:0;
}
.e29_44 { 
	color:rgba(0, 0, 0, 1);
	width:110px;
	height:12px;
	position:absolute;
	left:24px;
	top:72px;
	font-family:Inter;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e35_576 { 
	color:rgba(0, 0, 0, 1);
	width:140px;
	height:12px;
	position:absolute;
	left:21px;
	top:211px;
	font-family:Inter;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e29_45 { 
	color:rgba(0, 0, 0, 1);
	width:34px;
	height:12px;
	position:absolute;
	left:24px;
	top:92px;
	font-family:Inter;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e29_47 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:12px;
	position:absolute;
	left:72px;
	top:91px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e29_46 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:62px;
	top:93px;
}
.29_46 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e29_48 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:12px;
	position:absolute;
	left:115px;
	top:91px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e29_49 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:106px;
	top:93px;
}
.29_49 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e29_55 { 
	color:rgba(0, 0, 0, 1);
	width:109px;
	height:12px;
	position:absolute;
	left:24px;
	top:112px;
	font-family:Inter;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e29_56 { 
	color:rgba(0, 0, 0, 1);
	width:36px;
	height:12px;
	position:absolute;
	left:145px;
	top:112px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e29_57 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:136px;
	top:114px;
}
.29_57 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_544 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:12px;
	position:absolute;
	left:24px;
	top:133px;
	font-family:Inter;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e35_545 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:12px;
	position:absolute;
	left:86px;
	top:133px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_546 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:75px;
	top:135px;
}
.35_546 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e29_58 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:12px;
	position:absolute;
	left:194px;
	top:112px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e29_59 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:186px;
	top:114px;
}
.29_59 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e29_60 { 
	color:rgba(0, 0, 0, 1);
	width:62px;
	height:12px;
	position:absolute;
	left:283px;
	top:112px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e29_61 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:273px;
	top:114px;
}
.29_61 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_547 { 
	color:rgba(0, 0, 0, 1);
	width:148px;
	height:12px;
	position:absolute;
	left:206px;
	top:133px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_548 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:197px;
	top:135px;
}
.35_548 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_549 { 
	color:rgba(0, 0, 0, 1);
	width:148px;
	height:12px;
	position:absolute;
	left:365px;
	top:133px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_551 { 
	color:rgba(0, 0, 0, 1);
	width:58px;
	height:12px;
	position:absolute;
	left:85px;
	top:147px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_552 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:75px;
	top:149px;
}
.35_552 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_553 { 
	color:rgba(0, 0, 0, 1);
	width:55px;
	height:12px;
	position:absolute;
	left:173px;
	top:147px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_554 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:163px;
	top:149px;
}
.35_554 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_555 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:12px;
	position:absolute;
	left:271px;
	top:147px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_556 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:261px;
	top:149px;
}
.35_556 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_559 { 
	color:rgba(0, 0, 0, 1);
	width:106px;
	height:12px;
	position:absolute;
	left:85px;
	top:163px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_560 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:75px;
	top:165px;
}
.35_560 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_557 { 
	color:rgba(0, 0, 0, 1);
	width:79px;
	height:12px;
	position:absolute;
	left:377px;
	top:147px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_564 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:12px;
	position:absolute;
	left:141px;
	top:183px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_558 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:367px;
	top:149px;
}
.35_558 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_567 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:12px;
	position:absolute;
	left:308px;
	top:183px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_568 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:298px;
	top:185px;
}
.35_568 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_550 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:357px;
	top:135px;
}
.35_550 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_569 { 
	color:rgba(0, 0, 0, 1);
	width:34px;
	height:12px;
	position:absolute;
	left:33px;
	top:227px;
	font-family:Inter;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e35_570 { 
	color:rgba(0, 0, 0, 1);
	width:125px;
	height:12px;
	position:absolute;
	left:78px;
	top:228px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_571 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:67px;
	top:229px;
}
.35_571 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_572 { 
	color:rgba(0, 0, 0, 1);
	width:124px;
	height:12px;
	position:absolute;
	left:224px;
	top:227px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_574 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:12px;
	position:absolute;
	left:233px;
	top:243px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_575 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:223px;
	top:245px;
}
.35_575 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_578 { 
	color:rgba(0, 0, 0, 1);
	width:77px;
	height:12px;
	position:absolute;
	left:77px;
	top:243px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_580 { 
	color:rgba(0, 0, 0, 1);
	width:77px;
	height:12px;
	position:absolute;
	left:77px;
	top:243px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_579 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:67px;
	top:245px;
}
.35_579 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_582 { 
	color:rgba(0, 0, 0, 1);
	width:31px;
	height:12px;
	position:absolute;
	left:183px;
	top:243px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_583 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:173px;
	top:245px;
}
.35_583 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e29_64 { 
	color:rgba(0, 0, 0, 1);
	width:33px;
	height:12px;
	position:absolute;
	left:419px;
	top:112px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e29_66 { 
	color:rgba(0, 0, 0, 1);
	width:60px;
	height:12px;
	position:absolute;
	left:453px;
	top:112px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_561 { 
	color:rgba(0, 0, 0, 1);
	width:104px;
	height:12px;
	position:absolute;
	left:195px;
	top:163px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_562 { 
	color:rgba(0, 0, 0, 1);
	width:93px;
	height:12px;
	position:absolute;
	left:24px;
	top:183px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_563 { 
	color:rgba(0, 0, 0, 1);
	width:11px;
	height:12px;
	position:absolute;
	left:132px;
	top:183px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_565 { 
	color:rgba(0, 0, 0, 1);
	width:39px;
	height:12px;
	position:absolute;
	left:215px;
	top:183px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_566 { 
	color:rgba(0, 0, 0, 1);
	width:11px;
	height:12px;
	position:absolute;
	left:204px;
	top:183px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_577 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:12px;
	position:absolute;
	left:349px;
	top:227px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_585 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:67px;
	top:229px;
}
.35_585 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_586 { 
	color:rgba(0, 0, 0, 1);
	width:124px;
	height:12px;
	position:absolute;
	left:224px;
	top:227px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_587 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:214px;
	top:229px;
}
.35_587 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_588 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:12px;
	position:absolute;
	left:233px;
	top:243px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_589 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:223px;
	top:245px;
}
.35_589 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_590 { 
	color:rgba(0, 0, 0, 1);
	width:77px;
	height:12px;
	position:absolute;
	left:77px;
	top:243px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_591 { 
	color:rgba(0, 0, 0, 1);
	width:77px;
	height:12px;
	position:absolute;
	left:77px;
	top:243px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_592 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:67px;
	top:245px;
}
.35_592 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_593 { 
	color:rgba(0, 0, 0, 1);
	width:31px;
	height:12px;
	position:absolute;
	left:183px;
	top:243px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_594 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:173px;
	top:245px;
}
.35_594 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_596 { 
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:12px;
	position:absolute;
	left:33px;
	top:260px;
	font-family:Inter;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e35_597 { 
	color:rgba(0, 0, 0, 1);
	width:125px;
	height:12px;
	position:absolute;
	left:78px;
	top:260px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_598 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:67px;
	top:262px;
}
.35_598 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_599 { 
	color:rgba(0, 0, 0, 1);
	width:124px;
	height:12px;
	position:absolute;
	left:224px;
	top:260px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_600 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:214px;
	top:262px;
}
.35_600 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_601 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:12px;
	position:absolute;
	left:224px;
	top:276px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_602 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:214px;
	top:278px;
}
.35_602 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_603 { 
	color:rgba(0, 0, 0, 1);
	width:77px;
	height:12px;
	position:absolute;
	left:77px;
	top:276px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_604 { 
	color:rgba(0, 0, 0, 1);
	width:77px;
	height:12px;
	position:absolute;
	left:77px;
	top:276px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_605 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:67px;
	top:278px;
}
.35_605 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_606 { 
	color:rgba(0, 0, 0, 1);
	width:31px;
	height:12px;
	position:absolute;
	left:183px;
	top:276px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_607 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:173px;
	top:278px;
}
.35_607 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_608 { 
	color:rgba(0, 0, 0, 1);
	width:77px;
	height:12px;
	position:absolute;
	left:349px;
	top:260px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_10 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:12px;
	position:absolute;
	left:243px;
	top:443px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_11 { 
	color:rgba(0, 0, 0, 1);
	width:60px;
	height:12px;
	position:absolute;
	left:316px;
	top:443px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_12 { 
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:12px;
	position:absolute;
	left:21px;
	top:460px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_13 { 
	color:rgba(0, 0, 0, 1);
	width:60px;
	height:12px;
	position:absolute;
	left:118px;
	top:460px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_14 { 
	color:rgba(0, 0, 0, 1);
	width:131px;
	height:12px;
	position:absolute;
	left:243px;
	top:460px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_15 { 
	color:rgba(0, 0, 0, 1);
	width:60px;
	height:12px;
	position:absolute;
	left:375px;
	top:460px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_610 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:67px;
	top:262px;
}
.35_610 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_613 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:12px;
	position:absolute;
	left:224px;
	top:276px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_614 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:214px;
	top:278px;
}
.35_614 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_615 { 
	color:rgba(0, 0, 0, 1);
	width:77px;
	height:12px;
	position:absolute;
	left:77px;
	top:276px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_616 { 
	color:rgba(0, 0, 0, 1);
	width:77px;
	height:12px;
	position:absolute;
	left:77px;
	top:276px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_617 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:67px;
	top:278px;
}
.35_617 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_618 { 
	color:rgba(0, 0, 0, 1);
	width:31px;
	height:12px;
	position:absolute;
	left:183px;
	top:276px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_619 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:173px;
	top:278px;
}
.35_619 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_632 { 
	color:rgba(0, 0, 0, 1);
	width:177px;
	height:12px;
	position:absolute;
	left:86px;
	top:335px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_633 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:76px;
	top:337px;
}
.35_633 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_636 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:76px;
	top:337px;
}
.35_636 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_637 { 
	color:rgba(0, 0, 0, 1);
	width:60px;
	height:12px;
	position:absolute;
	left:267px;
	top:335px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_638 { 
	color:rgba(0, 0, 0, 1);
	width:100px;
	height:12px;
	position:absolute;
	left:21px;
	top:356px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_639 { 
	color:rgba(0, 0, 0, 1);
	width:314px;
	height:12px;
	position:absolute;
	left:122px;
	top:356px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_642 { 
	color:rgba(0, 0, 0, 1);
	width:323px;
	height:12px;
	position:absolute;
	left:111px;
	top:370px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_34 { 
	color:rgba(0, 0, 0, 1);
	width:463px;
	height:12px;
	position:absolute;
	left:21px;
	top:563px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_640 { 
	color:rgba(0, 0, 0, 1);
	width:88px;
	height:12px;
	position:absolute;
	left:21px;
	top:370px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_643 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:12px;
	position:absolute;
	left:213px;
	top:386px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_644 { 
	color:rgba(0, 0, 0, 1);
	width:190px;
	height:12px;
	position:absolute;
	left:21px;
	top:386px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_645 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:12px;
	position:absolute;
	left:253px;
	top:400px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_646 { 
	color:rgba(0, 0, 0, 1);
	width:228px;
	height:12px;
	position:absolute;
	left:21px;
	top:400px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_21 { 
	color:rgba(0, 0, 0, 1);
	width:122px;
	height:12px;
	position:absolute;
	left:230px;
	top:495px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_22 { 
	color:rgba(0, 0, 0, 1);
	width:134px;
	height:12px;
	position:absolute;
	left:93px;
	top:495px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e29_65 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:410px;
	top:114px;
}
.29_65 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e29_62 { 
	color:rgba(0, 0, 0, 1);
	width:49px;
	height:12px;
	position:absolute;
	left:358px;
	top:112px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e29_63 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:348px;
	top:114px;
}
.29_63 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e29_50 { 
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:12px;
	position:absolute;
	left:183px;
	top:91px;
	font-family:Inter;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e29_51 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:12px;
	position:absolute;
	left:239px;
	top:91px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e29_52 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:229px;
	top:93px;
}
.29_52 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e29_53 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:12px;
	position:absolute;
	left:283px;
	top:91px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e29_54 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:274px;
	top:93px;
}
.29_54 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_621 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:12px;
	position:absolute;
	left:21px;
	top:302px;
	font-family:Inter;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e35_622 { 
	color:rgba(0, 0, 0, 1);
	width:64px;
	height:12px;
	position:absolute;
	left:21px;
	top:321px;
	font-family:Inter;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e35_623 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:12px;
	position:absolute;
	left:102px;
	top:321px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_624 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:90px;
	top:323px;
}
.35_624 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_628 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:12px;
	position:absolute;
	left:200px;
	top:321px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_629 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:188px;
	top:323px;
}
.35_629 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_630 { 
	color:rgba(0, 0, 0, 1);
	width:24px;
	height:12px;
	position:absolute;
	left:349px;
	top:321px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_631 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:337px;
	top:323px;
}
.35_631 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e38_2 { 
	color:rgba(0, 0, 0, 1);
	width:43px;
	height:12px;
	position:absolute;
	left:21px;
	top:424px;
	font-family:Inter;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e38_3 { 
	color:rgba(0, 0, 0, 1);
	width:75px;
	height:12px;
	position:absolute;
	left:21px;
	top:443px;
	font-family:Inter;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e38_4 { 
	color:rgba(0, 0, 0, 1);
	width:17px;
	height:12px;
	position:absolute;
	left:109px;
	top:443px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_5 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:97px;
	top:444px;
}
.38_5 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e38_6 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12px;
	position:absolute;
	left:141px;
	top:443px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_7 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:129px;
	top:444px;
}
.38_7 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e38_23 { 
	color:rgba(0, 0, 0, 1);
	width:120px;
	height:12px;
	position:absolute;
	left:21px;
	top:520px;
	font-family:Inter;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e38_24 { 
	color:rgba(0, 0, 0, 1);
	width:138px;
	height:12px;
	position:absolute;
	left:21px;
	top:534px;
	font-family:Inter;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e38_33 { 
	color:rgba(0, 0, 0, 1);
	width:421px;
	height:12px;
	position:absolute;
	left:21px;
	top:549px;
	font-family:Inter;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e38_25 { 
	color:rgba(0, 0, 0, 1);
	width:63px;
	height:12px;
	position:absolute;
	left:172px;
	top:534px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_26 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:164px;
	top:536px;
}
.38_26 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e38_27 { 
	color:rgba(0, 0, 0, 1);
	width:67px;
	height:12px;
	position:absolute;
	left:258px;
	top:534px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_28 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:247px;
	top:536px;
}
.38_28 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e38_29 { 
	color:rgba(0, 0, 0, 1);
	width:57px;
	height:12px;
	position:absolute;
	left:346px;
	top:534px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_30 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:337px;
	top:535px;
}
.38_30 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e38_31 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:12px;
	position:absolute;
	left:430px;
	top:534px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_32 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:422px;
	top:535px;
}
.38_32 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e38_16 { 
	color:rgba(0, 0, 0, 1);
	width:180px;
	height:12px;
	position:absolute;
	left:20px;
	top:477px;
	font-family:Inter;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e38_17 { 
	color:rgba(0, 0, 0, 1);
	width:17px;
	height:12px;
	position:absolute;
	left:215px;
	top:477px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_18 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:203px;
	top:479px;
}
.38_18 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e38_19 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12px;
	position:absolute;
	left:244px;
	top:477px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_20 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:232px;
	top:479px;
}
.38_20 { 
	border:1px solid rgba(0, 0, 0, 1);
}
