.29_2 { 
	overflow:hidden;
}
.e29_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:600px;
	height:921px;
	position:absolute;
    margin-top: 10%;
}
.e29_6 { 
	color:rgba(0, 0, 0, 1);
	width:75px;
	height:12px;
	position:absolute;
	left:12px;
	top:36px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e29_13 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:8px;
	position:absolute;
	left:516px;
	top:10px;
	font-family:Inter, sans-serif;
	text-align:center;
	font-size:7px;
	letter-spacing:0;
}
.e29_44 { 
	color:rgba(0, 0, 0, 1);
	width:110px;
	height:12px;
	position:absolute;
	left:24px;
	top:72px;
	font-family:Inter, sans-serif;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e35_576 { 
	color:rgba(0, 0, 0, 1);
	width:140px;
	height:12px;
	position:absolute;
	left:21px;
	top:211px;
	font-family:Inter, sans-serif;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e29_45 { 
	color:rgba(0, 0, 0, 1);
	width:34px;
	height:12px;
	position:absolute;
	left:24px;
	top:92px;
	font-family:Inter, sans-serif;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e29_47 { 
	color:rgba(0, 0, 0, 1);
	width:36px;
	height:12px;
	position:absolute;
	left:72px;
	top:91px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e29_48 { 
	color:rgba(0, 0, 0, 1);
	width:56px;
	height:12px;
	position:absolute;
	left:115px;
	top:91px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e29_55 { 
	color:rgba(0, 0, 0, 1);
	width:109px;
	height:12px;
	position:absolute;
	left:24px;
	top:112px;
	font-family:Inter, sans-serif;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e29_56 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:12px;
	position:absolute;
	left:145px;
	top:112px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_544 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:12px;
	position:absolute;
	left:24px;
	top:133px;
	font-family:Inter, sans-serif;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e35_545 { 
	color:rgba(0, 0, 0, 1);
	width:126px;
	height:12px;
	position:absolute;
	left:86px;
	top:133px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e29_58 { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:12px;
	position:absolute;
	left:194px;
	top:112px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e53_6 { 
	color:rgba(0, 0, 0, 1);
	width:163px;
	height:12px;
	position:absolute;
	left:223px;
	top:133px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e53_4 { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:12px;
	position:absolute;
	left:86px;
	top:147px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e53_5 { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:12px;
	position:absolute;
	left:185px;
	top:147px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e29_60 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:12px;
	position:absolute;
	left:283px;
	top:112px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_549 { 
	color:rgba(0, 0, 0, 1);
	width:145px;
	height:12px;
	position:absolute;
	left:300px;
	top:163px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_555 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:12px;
	position:absolute;
	left:278px;
	top:147px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e53_8 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:12px;
	position:absolute;
	left:380px;
	top:147px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_559 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:12px;
	position:absolute;
	left:86px;
	top:163px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_564 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:12px;
	position:absolute;
	left:144px;
	top:183px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_567 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:12px;
	position:absolute;
	left:308px;
	top:183px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_569 { 
	color:rgba(0, 0, 0, 1);
	width:34px;
	height:12px;
	position:absolute;
	left:21px;
	top:227px;
	font-family:Inter, sans-serif;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e35_570 { 
	color:rgba(0, 0, 0, 1);
	width:125px;
	height:12px;
	position:absolute;
	left:66px;
	top:227px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_572 { 
	color:rgba(0, 0, 0, 1);
	width:124px;
	height:12px;
	position:absolute;
	left:212px;
	top:227px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_574 { 
	color:rgba(0, 0, 0, 1);
	width:72px;
	height:12px;
	position:absolute;
	left:221px;
	top:243px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_578 { 
	color:rgba(0, 0, 0, 1);
	width:77px;
	height:12px;
	position:absolute;
	left:65px;
	top:243px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_582 { 
	color:rgba(0, 0, 0, 1);
	width:39px;
	height:12px;
	position:absolute;
	left:171px;
	top:243px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e53_2 { 
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:12px;
	position:absolute;
	left:66px;
	top:227px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e29_64 { 
	color:rgba(0, 0, 0, 1);
	width:41px;
	height:12px;
	position:absolute;
	left:419px;
	top:112px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e29_66 { 
	color:rgba(0, 0, 0, 1);
	width:52px;
	height:12px;
	position:absolute;
	left:461px;
	top:112px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_561 { 
	color:rgba(0, 0, 0, 1);
	width:70px;
	height:12px;
	position:absolute;
	left:201px;
	top:163px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_562 { 
	color:rgba(0, 0, 0, 1);
	width:93px;
	height:12px;
	position:absolute;
	left:24px;
	top:183px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_563 { 
	color:rgba(0, 0, 0, 1);
	width:11px;
	height:12px;
	position:absolute;
	left:132px;
	top:183px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_565 { 
	color:rgba(0, 0, 0, 1);
	width:39px;
	height:12px;
	position:absolute;
	left:216px;
	top:183px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_566 { 
	color:rgba(0, 0, 0, 1);
	width:11px;
	height:12px;
	position:absolute;
	left:204px;
	top:183px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_577 { 
	color:rgba(0, 0, 0, 1);
	width:78px;
	height:12px;
	position:absolute;
	left:338px;
	top:227px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_596 { 
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:12px;
	position:absolute;
	left:21px;
	top:260px;
	font-family:Inter, sans-serif;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e35_597 { 
	color:rgba(0, 0, 0, 1);
	width:125px;
	height:12px;
	position:absolute;
	left:65px;
	top:260px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_599 { 
	color:rgba(0, 0, 0, 1);
	width:124px;
	height:12px;
	position:absolute;
	left:212px;
	top:260px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_601 { 
	color:rgba(0, 0, 0, 1);
	width:72px;
	height:12px;
	position:absolute;
	left:241px;
	top:276px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_603 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:12px;
	position:absolute;
	left:65px;
	top:276px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_606 { 
	color:rgba(0, 0, 0, 1);
	width:39px;
	height:12px;
	position:absolute;
	left:171px;
	top:276px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_608 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:12px;
	position:absolute;
	left:339px;
	top:260px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_10 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:12px;
	position:absolute;
	left:243px;
	top:450px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_11 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:12px;
	position:absolute;
	left:316px;
	top:450px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_12 { 
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:12px;
	position:absolute;
	left:21px;
	top:467px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_13 { 
	color:rgba(0, 0, 0, 1);
	width:62px;
	height:12px;
	position:absolute;
	left:118px;
	top:467px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_14 { 
	color:rgba(0, 0, 0, 1);
	width:131px;
	height:12px;
	position:absolute;
	left:243px;
	top:467px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_15 { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:12px;
	position:absolute;
	left:375px;
	top:467px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_632 { 
	color:rgba(0, 0, 0, 1);
	width:174px;
	height:12px;
	position:absolute;
	left:102px;
	top:337px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_637 { 
	color:rgba(0, 0, 0, 1);
	width:89px;
	height:12px;
	position:absolute;
	left:279px;
	top:337px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_638 { 
	color:rgba(0, 0, 0, 1);
	width:100px;
	height:12px;
	position:absolute;
	left:21px;
	top:356px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_639 { 
	color:rgba(0, 0, 0, 1);
	width:148px;
	height:12px;
	position:absolute;
	left:122px;
	top:356px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_642 { 
	color:rgba(0, 0, 0, 1);
	width:115px;
	height:12px;
	position:absolute;
	left:111px;
	top:370px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_34 { 
	color:rgba(0, 0, 0, 1);
	width:211px;
	height:12px;
	position:absolute;
	left:21px;
	top:592px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_640 { 
	color:rgba(0, 0, 0, 1);
	width:88px;
	height:12px;
	position:absolute;
	left:21px;
	top:370px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_643 { 
	color:rgba(0, 0, 0, 1);
	width:116px;
	height:12px;
	position:absolute;
	left:213px;
	top:386px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_644 { 
	color:rgba(0, 0, 0, 1);
	width:190px;
	height:12px;
	position:absolute;
	left:21px;
	top:386px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_645 { 
	color:rgba(0, 0, 0, 1);
	width:93px;
	height:12px;
	position:absolute;
	left:253px;
	top:400px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_646 { 
	color:rgba(0, 0, 0, 1);
	width:228px;
	height:12px;
	position:absolute;
	left:21px;
	top:400px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_21 { 
	color:rgba(0, 0, 0, 1);
	width:122px;
	height:12px;
	position:absolute;
	left:230px;
	top:502px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_22 { 
	color:rgba(0, 0, 0, 1);
	width:134px;
	height:12px;
	position:absolute;
	left:93px;
	top:502px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e29_62 { 
	color:rgba(0, 0, 0, 1);
	width:57px;
	height:12px;
	position:absolute;
	left:358px;
	top:112px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e29_50 { 
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:12px;
	position:absolute;
	left:183px;
	top:91px;
	font-family:Inter, sans-serif;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e29_51 { 
	color:rgba(0, 0, 0, 1);
	width:36px;
	height:12px;
	position:absolute;
	left:239px;
	top:91px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e29_53 { 
	color:rgba(0, 0, 0, 1);
	width:56px;
	height:12px;
	position:absolute;
	left:283px;
	top:91px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_621 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:12px;
	position:absolute;
	left:21px;
	top:302px;
	font-family:Inter, sans-serif;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e35_622 { 
	color:rgba(0, 0, 0, 1);
	width:64px;
	height:12px;
	position:absolute;
	left:21px;
	top:321px;
	font-family:Inter, sans-serif;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e35_623 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:12px;
	position:absolute;
	left:102px;
	top:321px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_628 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:12px;
	position:absolute;
	left:200px;
	top:321px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e35_630 { 
	color:rgba(0, 0, 0, 1);
	width:32px;
	height:12px;
	position:absolute;
	left:349px;
	top:321px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_2 { 
	color:rgba(0, 0, 0, 1);
	width:43px;
	height:12px;
	position:absolute;
	left:21px;
	top:431px;
	font-family:Inter, sans-serif;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e38_3 { 
	color:rgba(0, 0, 0, 1);
	width:75px;
	height:12px;
	position:absolute;
	left:21px;
	top:450px;
	font-family:Inter, sans-serif;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e38_4 { 
	color:rgba(0, 0, 0, 1);
	width:25px;
	height:12px;
	position:absolute;
	left:109px;
	top:450px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_6 { 
	color:rgba(0, 0, 0, 1);
	width:20px;
	height:12px;
	position:absolute;
	left:141px;
	top:450px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_23 { 
	color:rgba(0, 0, 0, 1);
	width:120px;
	height:12px;
	position:absolute;
	left:21px;
	top:533px;
	font-family:Inter, sans-serif;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e38_24 { 
	color:rgba(0, 0, 0, 1);
	width:138px;
	height:12px;
	position:absolute;
	left:21px;
	top:558px;
	font-family:Inter, sans-serif;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e38_33 { 
	color:rgba(0, 0, 0, 1);
	width:421px;
	height:12px;
	position:absolute;
	left:21px;
	top:578px;
	font-family:Inter, sans-serif;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e38_25 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:12px;
	position:absolute;
	left:165px;
	top:558px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_27 { 
	color:rgba(0, 0, 0, 1);
	width:72px;
	height:12px;
	position:absolute;
	left:246px;
	top:558px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_29 { 
	color:rgba(0, 0, 0, 1);
	width:62px;
	height:12px;
	position:absolute;
	left:337px;
	top:558px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_31 { 
	color:rgba(0, 0, 0, 1);
	width:58px;
	height:12px;
	position:absolute;
	left:429px;
	top:558px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_16 { 
	color:rgba(0, 0, 0, 1);
	width:180px;
	height:12px;
	position:absolute;
	left:20px;
	top:484px;
	font-family:Inter, sans-serif;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e38_17 { 
	color:rgba(0, 0, 0, 1);
	width:25px;
	height:12px;
	position:absolute;
	left:215px;
	top:484px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e38_19 { 
	color:rgba(0, 0, 0, 1);
	width:20px;
	height:12px;
	position:absolute;
	left:266px;
	top:484px;
	font-family:Inter, sans-serif;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
